{{<layout}}
    {{! override page_title }}
    {{$page_title}}hi hello{{/page_title}}

    {{! override page_content }}
    {{$page_content}}
		<div>Hay <strong>Foo:</strong> {{foo}}</div>
		<div><strong>Bar:</strong> {{bar}}</div>
    {{/page_content}}
{{/layout}}
